.content-title {
  margin: 40px 0;
  position: relative;
  text-align: center;

  &::after {
    bottom: 0;
    content: '';
    height: 2px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 300px;

  }

  &--light-red {
    color: $home-section-title;

    &::after {
      background-color: $home-section-title;
    }
  }
}

.heading--one {
  @include font-size(5);
}

.heading--two {
  @include font-size(3);
}

.heading--three {
  @include font-size(1.8);
}

.heading--four {
  @include font-size(1.2);
}

.heading--bold {
  font-weight: 700
}

@media screen and(max-width: 768px) {
  .heading--one {
    @include font-size(3);
  }
}

@media screen and(max-width: 414px) {
  .heading--one {
    @include font-size(2);
  }
}
