.heading {
  &--one {
    @include font-size(5);  
  }

  &--two {
    @include font-size(1.8);  
  }

  &--three {
    @include font-size(1.2);  
  }

  &--bold {
    font-weight: 700  
  }

  &--asset {
    margin-bottom: 20px;
    position: relative;

    &::after {
      content: '';
      background-color: $_color-light-red;
      bottom: 0;
      height: 2px;
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      width: 300px;
    }    
  }

  &--primary {
    color: $_color-light-red;  
  }

  &__link {
    text-decoration: none;
  }
}

@media screen and(max-width: 768px) {
  .heading--one {
    @include font-size(3);
  }
}

@media screen and(max-width: 414px) {
  .heading--one {
    @include font-size(2);
  }
}
