@font-face {
    font-family: 'publica_sansbold';
    src: url('../fonts/publicasans-bold-webfont.woff2') format('woff2'),
         url('../fonts/publicasans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'publica_sansmedium';
    src: url('../fonts/publicasans-medium-webfont.woff2') format('woff2'),
         url('../fonts/publicasans-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$heading-font: 'publica_sansbold';
$base-font: 'publica_sansmedium';
$base-font-size: 12px;

.heading--one,
.heading--two,
.heading--three {
  font-family: $heading-font;
}

body {
  font-family: $base-font;
  font-size: $base-font-size;
  line-height: 1.4;
  margin: 0;

}


.heading {
  &--one {
    @include font-size(5);  
  }

  &--two {
    @include font-size(1.8);  
  }

  &--three {
    @include font-size(1.2);  
  }

  &--asset {
    margin-bottom: 20px;
    position: relative;

    &::after {
      content: '';
      background-color: $_color-teal;
      bottom: 0;
      height: 2px;
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      width: 300px;
    }    
  }

  &--primary {
    color: $_color-teal;
  }

  &--secondary {
    color: #fee8c4;
  }

  &__link {
    text-decoration: none;
  }
}

@media screen and(max-width: 768px) {
  .heading--one {
    @include font-size(3);
  }
}

@media screen and(max-width: 414px) {
  .heading {
    &--one {
      @include font-size(2);
    }

    &--asset::after {
      width: 200px;
    }
  }
}
