$_color-white: #fff;
$_color-teal: rgb(25, 110, 110);
$_color-lime-green: rgb(185, 190, 135);
$_color-ruby: rgb(145, 30, 55);
$_color-blue: rgb(30, 80, 130);
$_color-forest-green: rgb(0, 75, 75);
$_color-light-red: rgb(185, 80, 110);
$_color-peach: rgb(230, 150, 160);
$_color-cream: rgb(235, 210, 170);

$header-background: $_color-teal;
$header-nav-items: $_color-lime-green;
