$_color-white: #fff;
$_color-teal: rgb(25, 110, 110);
$_color-lime-green: rgb(185, 190, 135);
$_color-ruby: rgb(145, 30, 55);
$_color-blue: rgb(30, 80, 130);
$_color-forest-green: rgb(0, 75, 75);
$_color-light-red: rgb(185, 80, 110);
$_color-peach: rgb(230, 150, 160);
$_color-cream: rgb(235, 210, 170);
$_color-iron: #d1d3d4;

$header-background: $_color-teal;
$header-nav-items: $_color-lime-green;

$home-section-title: $_color-light-red;
$home-upcoming-events-background: $_color-lime-green;
$featured-font: $_color-teal;

$footer-background: $_color-teal;
$footer-section-border: rgba($_color-forest-green, .6);
$footer-title-color: $_color-white;
$footer-legal-color: $_color-forest-green;
$footer-links: $_color-lime-green;
$footer-support-subtitle: $_color-iron;

$lime-btn-background: $_color-lime-green;
$lime-btn-text-color: $_color-teal;
$lime-btn-background-hover: $_color-teal;
$lime-btn-text-color-hover: $_color-lime-green;
