$_color-white: #fff;
$_color-black: #000;
$_color-teal: rgb(25, 110, 110);
$_color-lime-green: rgb(185, 190, 135);
$_color-ruby: rgb(145, 30, 55);
$_color-blue: rgb(30, 80, 130);
$_color-forest-green: rgb(0, 75, 75);
$_color-light-red: rgb(185, 80, 110);
$_color-peach: rgb(230, 150, 160);
$_color-cream: rgb(235, 210, 170);
$_color-iron: #d1d3d4;
$_color-dark-grey: #333;
$_color-gallery-grey: #eee;
$_color-gray: #888;
$_color-sazerac: #fff4e2;
$color-sandy-beach: #fee8c4;

@import url('https://fonts.googleapis.com/css?family=Reem+Kufi');

$body-background-color: $_color-sazerac;

$header-background: $_color-teal;
$header-nav-items: $_color-lime-green;

$home-section-title: $_color-light-red;
$home-upcoming-events-background: $_color-lime-green;
$featured-font: $_color-teal;

$footer-background: $_color-teal;
$footer-section-border: rgba($_color-forest-green, .6);
$footer-title-color: $_color-white;
$footer-legal-color: $_color-forest-green;
$footer-links: $_color-lime-green;
$footer-support-subtitle: $_color-iron;
$footer-subscribe-submit: $_color-lime-green;

$lime-btn-background: $_color-lime-green;
$lime-btn-text-color: $_color-teal;
$lime-btn-background-hover: $_color-teal;
$lime-btn-text-color-hover: $_color-lime-green;

$secondary-btn-background: $_color-ruby;
$secondary-btn-color: $_color-cream;

$header-quote-background-color: $_color-light-red;
$header-quote-color: $_color-cream;
$header-quote-author-color: $_color-cream;

$visions-branch-background-color: $_color-lime-green;
$vision_branch-text-color: $_color-teal;

$team-block-background-color: $_color-lime-green;
$team-block-text-color: $_color-teal;

$blog-listing-block-background: $_color-lime-green;
$blog-listing-block-text-color: $_color-teal;
$blog-listing-image-background: $_color-blue;
$blog-listing-read-more-color: $_color-ruby;

$internal-post-date: $_color-light-red;
$internal-paragraph-color: $_color-dark-grey;

$press-page-image-background: $_color-ruby;
$press-page-link-color: $_color-teal;

$contact-address: $_color-ruby;
$contact-input-background: $_color-gallery-grey;
$contact-input-color: $_color-gray;
$contact-input-focus-color: $_color-ruby;
