* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }

  &::-ms-input-placeholder {
    opacity: 1;
  }

  &::placeholder {
    transition: color .3s ease;
  }

  &:focus::placeholder {
    color: transparent;
  }
}

html {
  font-size: 62.5%;
}

body {
  background-color: #fff4e2;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a {
  font-family: 'Reem Kufi', sans-serif;
  line-height: 1.4;
  margin: 0;
}

a {
  color: inherit;

  &:focus {
    outline: 0;
  }
}

img {
  height: auto;
  max-width: 100%;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

ul {
  list-style: none;
  padding: 0;
}

.404-message {
  color: #333;
  margin: 0 auto;
  max-width: 1000px;
  padding:40px;
  text-align: center;
}

p.404-message__text {
  font-size: 18px;
}

.404-message__button {
  position: relative;
  
}

.u-align-center {
  text-align: center;
}

.page-container {
  margin: 0 60px;
}

@media screen and(max-width: 768px) {
  .page-container {
    margin: 0 20px;
  }
}

@media screen and(max-width: 414px) {
  .page-container {
    margin: 0 10px;
  }
}
