* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }

  &::-ms-input-placeholder {
    opacity: 1;
  }

  &::placeholder {
    transition: color .3s ease;
  }

  &:focus::placeholder {
    color: transparent;
  }
}

html {
  font-size: 62.5%;
}

body {
  background-color: #fff4e2;
  position: relative;
}

a {
  color: inherit;

  &:focus {
    outline: 0;
  }
}

img {
  height: auto;
  max-width: 100%;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

ul.grid {
  list-style: none;
  padding: 0;
}

.404-message {
  color: #333;
  margin: 0 auto;
  max-width: 1000px;
  padding:40px;
  text-align: center;
}

p.404-message__text {
  font-size: 18px;
}

.404-message__button {
  position: relative;

}

.u-align-center {
  text-align: center;
}

.page-container {
  margin: 0 60px;
}

.link {
  color: rgb(145, 30, 55);

  &:hover {
    opacity: .6;
  }
}

.flex {
  display: flex;

  &--space-between {
    justify-content: space-between;
  }

  &--justify-center {
    justify-content: center;
  }

  &--align-center {
    align-items: center;
  }
}

/*Background colours */
.forest-green {
  background-color: rgb(0, 75, 75);
  color: #fee8c4;
}

.ruby {
  background-color: rgb(235, 210, 170);
  color: rgb(0, 75, 75);
}

@media screen and(max-width: 768px) {
  .page-container {
    margin: 0 20px;
  }
}

@media screen and(max-width: 414px) {
  .page-container {
    margin: 0 10px;
  }
}
