* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }

  &::-ms-input-placeholder {
    opacity: 1;
  }

  &::placeholder {
    transition: color .3s ease;
  }

  &:focus::placeholder {
    color: transparent;
  }
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a {
  font-family: 'Reem Kufi', sans-serif;
  line-height: 1.4;
  margin: 0;
}

a {
  color: inherit;

  &:focus {
    outline: 0;
  }
}

img {
  height: auto;
  max-width: 100%;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

ul {
  list-style: none;
  padding: 0;
}

.page-container {
  margin: 0 60px;
}
