.btn {
  @include font-size(1.8);
  padding: 15px 40px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  &--secondary {
    background-color: $secondary-btn-background;
    color: $secondary-btn-color;
    transition: opacity .3s ease;
    cursor: pointer;

    &:hover {
      opacity: .6;
    }
  }

  &--submit {
    -webkit-appearance: none;
  }

  &--center {
    left: 50%;
    transform: translateX(-50%)
  }
}

.lime__btn {
  background-color: $lime-btn-background;
  color: $lime-btn-text-color;
  cursor: pointer;
  transition: background-color .3s ease, color .3s ease;

  &:hover {
    background-color: $lime-btn-background-hover;
    color: $lime-btn-text-color-hover;
  }
}

@media screen and(max-width: 767px) {
  .btn {
    padding: 14px;
  }
}

@media screen and(max-width: 414px) {
  .btn {
    @include font-size(1.2);
  }
}
