.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 40px;
    position: relative;

    &--slim {
        max-width: 800px;
        margin: 0 auto;
    }

    &--border-top {
        border-top: 1px solid $_color-lime-green;
    }

    &--header-top {
        margin-top: 140px;
    }

    &--vh-top {
        margin-top: 20vh;
    }
}

.row {
    margin: 40px 0;

    &--no-margin {
        margin: 0;
    }
}

@media only screen and (max-width: 768px) {
    .container--header-top {
        margin-top: 100px;
    }
}