.error404 .container {
  margin-top: 140px;
}

.message-404 {
  color: #333;
  margin: 0 auto;
  max-width: 1000px;
  padding:40px;
  text-align: center;

  &__text {
    font-size: 18px;
    margin-bottom: 20px;
  }

  &__button {
    background-color: rgb(145, 30, 55);
    color: rgb(235, 210, 170);
  	font-size: 18px;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s color ease, .3s background-color ease;

    &:not(:last-child) {
      margin-right: 20px;
    }

    &:hover {
      color:rgb(145, 30, 55);
      background-color: rgb(235, 210, 170);
    }
  	
  }
}

@media screen and(max-width: 768px) {
  .error404 .container {
    margin-top: 100px;
  }

}