.article-logo {
	text-decoration: none;

  &:nth-child(4n + 4) {
    .article-logo__image {
      margin-right: 0;
    }
  }

  &__image {
  	height: 75px;
  	overflow: hidden;
  	position: relative;
  	transition: .3s opacity;
  }

  &__media {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &__image,
  &__title {
  	margin-right: 20px;
  }

  &__title {
    @include font-size(1.8);
    color: $_color-ruby;
    font-weight: 700;
    margin-top: 10px;
    text-transform: uppercase;
  }

  &:hover {
  	.article-logo__image {
  		opacity: .6;
  	}
  }
}

@media screen and (max-width: 768px) {
	.grid {
		flex-wrap: wrap;

		.col-3 {
			width: calc(50% - 20px);
		}
	}
}

@media screen and (max-width: 768px) {
	.grid {
		flex-wrap: wrap;
	}

	.article-logo {
		&__image,
		&__title {
			margin-right: 0;
		}
	}

}