.address {
	@include font-size(2);
	text-align: center;
	color: $contact-address;

	&__links {
		display: flex;
		flex-direction: column;
		padding-top: 20px;
	}

	&__link {
		text-decoration: none;
		transition: opacity .3s ease;
		&:hover {
			opacity: .6;
		}
	}
}

.form-tabs {
	margin: 0 auto;
	width: 730px;

	&__button {
		border: none;
	}
}

.form {
	&__input {
		@include font-size(1.6);
		background-color: $contact-input-background;
		border: none;
		color: $contact-input-color;
		margin: 0 15px 15px 0;
		padding: 20px 15px;

		&--no-right-space {
			margin-right: 0;
		}
	}
}
	