.address {
	@include font-size(2);
	text-align: center;
	color: $contact-address;
	display: flex;
	justify-content: center;

	&__links {
		display: flex;
		flex-direction: column;
		padding-top: 20px;
	}

	&__link {
		text-decoration: none;
		transition: opacity .3s ease;
		&:hover {
			opacity: .6;
		}
	}
}

.form-tabs {
	display: flex;
	margin: 40px auto 0;
	max-width: 730px;

	&__button {
		border: none;
	}
}

.form {
	display: none;
	flex-wrap: wrap;
	margin-bottom: 40px;
	max-width: 1120px;

	&--active{
		display: block;
	}

	&__row {
		display: flex;
		width: 100%;

		.col-6:first-child {
			margin-right: 10px;
		}
	}

	&__label {
		@include font-size(1.4);
		color: $_color-teal;
		display: block;
		font-family: 'Reem Kufi', sans-serif;
		margin-bottom: 10px;
		text-transform: uppercase;
	}

	&__input,
	&__verification {
		@include font-size(1.6);
		background-color: $color-sandy-beach;
		border: 1px solid $color-sandy-beach;
		color: $contact-input-color;
		margin: 0 15px 15px 0;
		padding: 20px 15px;
		width: 100%;

		&--no-right-space {
			margin-right: 0;
		}

		&:focus {
			border: 1px solid $contact-input-focus-color;
			outline: none;
		}
	}

	&__verification {
		max-width: 60px;
		margin-bottom: 0;
	}

	&__sum {
		@include font-size(1.4);
		color: rgb(145, 30, 55);
	}

	&__btn {
		border: none;
		margin-top: 25px;
	}
}
     
.success,
.error {
	padding: 40px;
	text-align: center;
	font-size: 22px;
}

.success {
	color: green;
}

.error {
	color: red;
}

form span{
	color: red;
}

@media screen and(max-width: 789px) {
	.form {
		margin-bottom: 20px;

		&__input {
			margin: 0 0 20px 0;
			width: 100%;
		}

		&__btn {
			margin-top: 5px;
		}
	}
}

@media screen and(max-width: 767px) {
	.form-tabs {
		flex-direction: column;

		&__button {
			width: 100%;
		}

		&__button:not(:last-child) {
			margin-bottom: 10px;
		}
	}
}

@media screen and(max-width: 414px) {
	.form__row {
		flex-direction: column;

		.col-6 {
			width: 100%;
		}
	}
}