.footer {
  background-color: $footer-background;

  &__top {
    display: flex;

    &--contact,
    &--support {
      margin: 20px 0;
      padding: 20px 40px;
      width: 50%;

      h2 {
        @include font-size(3);
        color: $footer-title-color;
      }
    }

    &--contact {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &-requests {
        @include font-size(1.8);
        display: flex;
        justify-content: space-between;
        list-style: none;
        margin: 0;
        padding: 0;
        width: 75%;

        &-link {
          color: $footer-links;

          a {
            text-decoration: none;
            transition: opacity .3s ease;

            &:hover {
              opacity: .6;
            }
          }
        }
      }

      &-requests,
      &-email,
      &-tel {
        padding-bottom: 20px;
      }

      &-email,
      &-tel {
        @include font-size(1.8);
        color: $footer-links;
        text-decoration: none;
        transition: opacity .6s ease;

        &:hover {
          opacity: .6;
        }
      }
    }

    &--support {
      border-left: 1px solid $footer-section-border;

      h4 {
        @include font-size(1.8);
        color: $footer-support-subtitle;
      }
    }

    &--social {
      display: flex;
      justify-content: space-between;
      width: 235px;

      &-link {
        transition: opacity .3s ease;

        &:hover {
          opacity: .6;
        }
      }

      i {
        @include font-size(1.8);
        color: $footer-links;
      }
    }
  }

  &__bottom {
    @include font-size(1.2);
    color: $footer-legal-color;
    padding: 40px;
    text-align: center;
  }
}

.subscribe {
  &__input,
  &__submit {
    @include font-size(1.6);
    padding: 15px;
  }

  &__input {
    background-color: $footer-background;
    border: 1px solid $footer-section-border;
    padding: 15px;
    max-width: 350px;
  }

  &__submit {
    border: none;
    background-color: $footer-subscribe-submit;
    color: $footer-legal-color;
    margin-left: 10px;
    transition: opacity .3s ease;

    &:hover {
      cursor: pointer;
      opacity: .6;
    }
  }
}

@media only screen and (max-width: 768px) {
  .footer__top {
    flex-direction: column;

    &--contact,
    &--support {
      text-align: center;
      width: 100%;

      * {
        width: 100%;
      }

      .subscribe {
        max-width: 440px;
        margin: 0 auto;

        &__input,
        &__submit {
          width: auto;
        }
      }
    }

    &--support {
      border-left: 0;
      border-top: 1px solid $footer-section-border;
    }

    &--social-link i {
      @include font-size(3.8);
    }
  }
}

@media only screen and (max-width: 414px) {
  .subscribe__submit {
    margin: 10px 0 0;
    padding: 15px 61px;
  }
}

@media only screen and (max-width: 375px) {
  .footer__top--contact,
  .footer__top--support {
    padding: 20px;
  }
}

@media only screen and (max-width: 320px) {
  .footer__top--contact,
  .footer__top--support {
    padding: 10px;
  }
}
