.footer {
  background-color: $footer-background;

  &__top {
    display: flex;
  }

  &__contact,
  &__support {
    margin: 20px 0;
    padding: 20px 40px;
    width: 50%;

    h2 {
      @include font-size(3);
      color: $footer-title-color;
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__link {
    @include font-size(1.8);
    color: $footer-links;
    font-family: $base-font;
    padding-bottom: 5px;
    text-decoration: none;
    transition: opacity .6s ease;

    &:hover {
      opacity: .6;
    }
  }

  &__support {
    border-left: 1px solid $footer-section-border;

    .footer__info {
      @include font-size(1.8);
      color: $footer-support-subtitle;
      margin-bottom: 20px;
    }
  }

  &__social {
    display: flex;
    justify-content: flex-start;
    padding-top: 20px;
    width: 235px;

    .footer__link {
      transition: opacity .3s ease;

      &:not(:last-child) {
        margin-right: 20px;
      }

      &:hover {
        opacity: .6;
      }
    }

    i {
      @include font-size(2.5);
      color: $footer-links;
    }
  }

  &__bottom {
    @include font-size(1.2);
    border-top: 1px solid $footer-legal-color;
    color: $footer-legal-color;
    margin: 0 40px;
    padding: 40px 0;
    text-align: center;
  }
}

.subscribe {
  margin-top: 20px;

  &__input,
  &__submit {
    @include font-size(1.6);
    padding: 15px;
  }

  &__input {
    color: $footer-legal-color;
    background-color: $footer-background;
    border: 1px solid $footer-section-border;
    border-right: 0;
    padding: 15px;
    width: 75%;
  }

  &__submit {
    border: none;
    background-color: $footer-subscribe-submit;
    color: $footer-legal-color;
    transition: opacity .3s ease;

    &:hover {
      cursor: pointer;
      opacity: .6;
    }
  }

  input[type="email"].subscribe__input::placeholder {
    color: $footer-legal-color;
  }
}

@media only screen and (max-width: 880px) {
  .subscribe__input {
    width: 65%;
  }
}

@media only screen and (max-width: 768px) {
  .footer {
    &__top {
      flex-direction: column;
    }

    &__contact {
      * {
        width: 100%;
      }

      .heading--two .heading__link {
        text-decoration: none;
      }
    }

    &__support {
      border-left: 0;
      border-top: 1px solid $footer-section-border;
    }

    .subscribe {
      max-width: 440px;
      margin: 20px auto 0;

      &__input {
        border-right: 1px solid $footer-section-border;
      }
    }
  }
}

@media only screen and (max-width: 414px) {
  .subscribe {
    flex-direction: column;
    &__input {
      width: 100%;
    }

    &__submit {
      margin: 10px 0 0;
      padding: 15px 61px;
    }
  }

  .footer__link {
    @include font-size(1.4);
  }
}

@media only screen and (max-width: 768px) {
  .footer__contact,
  .footer__support{
    text-align: center;
    width: 100%;
  }
}

@media only screen and (max-width: 375px) {
  .footer__contact,
  .footer__support {
    padding: 20px;
  }
}

@media only screen and (max-width: 320px) {
  .footer__contact,
  .footer__support {
    padding: 10px;
  }
}
