.quote {
  background-color: $header-quote-background-color;
  background-position: center center;
  background-size: cover;
  height: 250px;
  margin-top: 140px;
  overflow: hidden;
  position: relative;
  text-align: center;

  &::after {
    background-color: rgba(#000, .4);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 5;
  }

  &__background {
    background-color: rgba(#000, .4);
    height: auto;
    width: 100% ;
  }

  &__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 6;
  }

  &__title {
    @include font-size(5);
    color: $header-quote-color;
    line-height: 5rem;
  }

  &__author {
    @include font-size(2);
    color: $header-quote-author-color;
    font-family: $heading-font;
  }
}

@media only screen and (max-width: 768px) {
  .quote {
    margin-top: 100px;

    &__title {
      @include font-size(4);
    }

    .container {
      padding: 20px
    }
  } 
}

@media only screen and (max-width: 375px) {
  .quote {
    &__title {
      @include font-size(2)
    }

    &__author {
      @include font-size(1.2)
    }

    .container {
      padding: 10px
    }
  }
}
