.quote {
  background-color: $header-quote-background-color;
  background-position: center center;
  background-size: cover;
  margin-top: 140px;

  .container {
      max-width: 1200px;
      padding: 40px;
      text-align: center;
  }

  &__title {
    @include font-size(5);
    color: $header-quote-color;
  }

  &__author {
    @include font-size(2);
    color: $header-quote-author-color;
  }
}

@media only screen and (max-width: 768px) {
  .quote {
    margin-top: 100px;

    .container {
      padding: 20px
    }
  } 
}

@media only screen and (max-width: 375px) {
  .quote .container {
    padding: 10px
  }
}
