.header {
  background-color: $header-background;
  height: 130px;
  position: relative;
  z-index: 1;

  &__logo {
    @include vertical-center(absolute);
    height: 60px;
    left: 40px;
    width: 160px;
  }

  .navigation {
    @include vertical-center(absolute);
    right: 40px;
  }
}
