.quote {
  background-color: $header-quote-background-color;
  background-position: center center;
  background-size: cover;
  height: 250px;
  margin-top: 140px;
  position: relative;
  text-align: center;

  &__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;
    transform: translate(-50%, -50%);
    width: 100%;
  }

  &__title {
    @include font-size(5);
    color: $header-quote-color;
  }

  &__author {
    @include font-size(2);
    color: $header-quote-author-color;
    font-family: $heading-font;
  }
}

@media only screen and (max-width: 768px) {
  .quote {
    margin-top: 100px;

    .container {
      padding: 20px
    }
  } 
}

@media only screen and (max-width: 375px) {
  .quote .container {
    padding: 10px
  }
}
