.post {
  max-width: 1200px;
  margin: 0 auto;

  &__featured-image {
    background-size: cover;
    background-position: center center;
    height: 500px;
    max-width: 750px;
    margin: 40px auto;
  }

  &__title {
    margin: 0 auto;
    max-width: 750px;

    &--date {
      @include font-size(2);
      color: $internal-post-date;
    }
  }

  &__content {
    @include font-size(1.6);
    color: $internal-paragraph-color;
    margin: 0 auto;
    max-width: 750px;

    a {
      color: $_color-ruby;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $_color-ruby;
      margin-bottom: 20px;
    }

    h1 {
      @include font-size(5)
    }

    h2 {
      @include font-size(4)
    }

    h3 {
      @include font-size(3)
    }

    h4 {
      @include font-size(2)

    }

    h5 {
      @include font-size(1.8)
    }

    p {
      margin: 20px 0;

      &:last-child {
        margin-bottom: 0;
      }
    }

    /* For soundcloud iframes */
    iframe {
      margin: 20px 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .post__featured-image {
    height: 350px;
  }
}
