.post {
  max-width: 1200px;
  margin: 0 auto;

  &__title {
    &--date {
      @include font-size(2);
      color: $internal-post-date;
      text-align: center;
    }
  }

  &__content {
    @include font-size(1.6);
    color: $internal-paragraph-color;
    margin: 0 auto;
    max-width: 1000px;

    a {
      color: $_color-ruby;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    ul li {
      padding-left: 10px;
      position: relative;

      &::before {
        content: '';
        background-color: $_color-black;
        border-radius: 50%;
        height: 5px;
        left: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 5px;
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $_color-ruby;
    }
  }
}
