.card {
  background-color:$blog-listing-block-background;
  margin-top: 20px;
  width: calc(33.333% - 20px);

  &:nth-child(3n+3) {
    margin-right: 0;
  }

  &__link {
    display: block;
    height: 100%;
    text-decoration: none;
    width: 100%;

    &:hover {
      .card__info .card__read-more {
        text-decoration: underline;
      }
    }
  }

  &__media {
    background-position: center center;
    background-size: cover;
    height: 230px
  }

  &__info {
    color: $blog-listing-block-text-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
  }

  &__title {
    @include font-size(1.75)
    font-weight: 700;
    color: $blog-listing-block-text-color;
  }

  &__details {
    @include font-size(1.25);
    border-top: 1px solid $_color-teal;
    font-style: italic;
    margin-top: 10px;
    padding: 10px 0;
  }

  &__excerpt {
    @include font-size(1.25)
    color: $blog-listing-block-text-color;
  }

  &__read-more {
    @include font-size(1.25);
    color: $blog-listing-read-more-color;
    font-weight: 700;
    margin-top: 10px;
    text-transform: uppercase;
  }
}

@media only screen and (max-width: 1115px) {
  .card {
    &:nth-child(3n+3) {
      margin-right: 20px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .col-4 {
    width: 48%;
  }

  .card {
    margin-right: 20px;

    &:nth-child(even) {
      margin-right: 0;
    }
  }
}

@media only screen and (max-width: 650px) {
  .col-4 {
    width: 100%;
  }

  .card {
    margin: 0 0 20px 0;

    &:nth-child(3n+3) {
      margin-right: 0;
    }
  }
}
