.blog {
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }
}

.block {
  display: flex;
  flex-direction: column;
  height: 450px;
  margin: 20px 40px 0 0;
  width: 33%;

  &__link {
    height: 100%;
    text-decoration: none;
  }

  &__img {
    background-color: $blog-listing-image-background;
    height: 50%;
  }

  &__info {
    background-color:$blog-listing-block-background;
    color: $blog-listing-block-text-color;
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: space-between;
    padding: 20px;

    &--title {
      @include font-size(3);
    }

    &--excerpt {
      @include font-size(1.2);
    }

    &--read-more {
      color: $blog-listing-read-more-color;
      text-transform: uppercase;
    }
  }
}

.block:nth-child(3n+3) {
  margin-right: 0;
}
