.header__navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;

  &--item {
    @include font-size(1.6);
    color: $header-nav-items;
    text-transform: uppercase;

    a {
      padding: 0 20px;
      position: relative;
      text-decoration: none;
      transition: opacity .3s ease;

      &::after {
        background-color: $header-nav-items;
        content: '|';
        position: absolute;
        right: 0;
      }

      &:hover {
        opacity: .6;
      }
    }

    &:last-child {
      a::after {
        display: none;
      }
    }
  }
}
