%menu-bar-default {
  background-color: $header-nav-items;
  content: '';
  height: 3px;
  position: absolute;
  width: 25px;
}

.navigation {
  display: flex;
  flex-direction: row;
  height: 20px;
  justify-content: space-between;
  margin: auto 0;
  list-style: none;

  &__item {
    @include font-size(1.6);
    color: $header-nav-items;
    cursor: pointer;
    position: relative;
    text-transform: uppercase;

    &:not(:last-child) {
      border-right: 1px solid $header-nav-items;
    }

    &:last-child {
      .navigation__link {
        padding-right: 0;
      }
    }
  }

  &__link {
    font-weight: 900;
    padding: 0 20px;
    position: relative;
    text-decoration: none;
    transition: opacity .3s ease;

    &:hover {
      opacity: .6;
    }
  }
}

.menu-icon {
  cursor: pointer;
  display: none;
  height: 40px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  z-index: 3;

  &:hover .menu-bar::before {
    transform: translateY(-2px);
  }

  &:hover .menu-bar::after {
    transform: translateY(2px);
  }

  &.active {
    .menu-bar::before,
    .menu-bar::after {
      transition: transform, .3s;
      @include vertical-center(absolute);
    }

    .menu-bar::before {
      transform: rotate(135deg);
    }

    .menu-bar {
      transition: background, .3s;
      background: transparent;
    }

    .menu-bar::after {
      transform: rotate(-135deg);
    }
  }

  .menu-bar {
    @extend %menu-bar-default;
    transition: background, .3s;
    left: 8px;
    top: 18px;

    &::before,
    &::after {
      @extend %menu-bar-default;
      transition: transform, .3s;
    }

    &::before {
      top: -8px;
    }

    &::after {
      top: 8px;
    }
  }
}

@media screen and (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .menu-open {
    position: fixed;
  }

  .navigation {
    background-color: $header-background;
    flex-direction: column;
    height: auto;
    opacity: 0;
    padding: 20px;
    position: fixed;
    right: 0;
    top: -132px;
    transition: opacity .3s, transform .4s ease-in-out;
    transform: translateY(-100%);
    width: 260px;
    z-index: 2;

    &.active {
      opacity: 1;
      top: 0;
      transform: translateY(100px);
    }

    &__item {
      padding-bottom: 10px;
      text-align: right;
      &:not(:last-child) {
        border: none;
      }
    }

    &__link {
      padding: 0;
    }
  }
}

@media screen and (max-width: 736px) {
  .navigation {
    border-top: 1px solid $header-nav-items;
    height: calc(100vh - 100px);
    width: 100vw;

    &__item {
      @include font-size(1.5);
      padding-bottom: 0;
      text-align: center;

      &::after {
        bottom: 0;
        content: '';
        background-color: $header-nav-items;
        height: 1px;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        width: 20px;
      }
    }
  }
}
