.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex: 1 0 auto;
}

.team-block {
  display: flex;
  flex-direction: column;
  margin: 10px;
  margin-bottom: 20px;
  width: calc(33% - 20px);

  &__image {
    background-color: $_color-peach;
    height: auto;
    overflow: hidden;
    position: relative;
  }

  &__info {
    background-color: $team-block-background-color;
    color: $team-block-text-color;
    padding: 20px;
    width: 100%;
  }

  &__name {
    @include font-size(1.6);
    margin: 0;
    font-weight: 600;

    span {
      font-weight: 400;
    }
  }

  &__bio {
    @include font-size(1.2);
    p {
    font-weight: 400;
    }
  }

/*  &__social i {
    @include font-size(2);
    padding-right: 10px;
    transition: opacity .3s ease;

    &:hover {
      opacity: .6;
    }
  }*/
}

@media screen and(max-width: 768px) {
  .team-block {
    width: calc(50% - 20px);

  }
}

@media screen and(max-width: 414px) {
  .team-block {
    width: 100%;
  }
}
