.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.team-block {
  display: flex;
  flex-direction: row;
  height: 270px;
  margin-bottom:  30px;
  max-width: 550px;

  &__image {
    background-color: $_color-peach;
    height: 270px;
  }

  &__info {
    background-color: $team-block-background-color;
    color: $team-block-text-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    width: 50%;
  }

  &__name {
    @include font-size(2.5);
    margin: 0;
  }

  &__bio {
    @include font-size(1.6);
  }

  &__social i {
    @include font-size(2);
    padding-right: 10px;
    transition: opacity .3s ease;

    &:hover {
      opacity: .6;
    }
  }
}