.press {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px;

  .press__item {
    margin-right: 20px;
    max-width: 25%;

    &:last-child {
      margin-left: 0;
    }

    &--link {
      text-decoration: none;

      &:hover {
        .press__item--image {
          opacity: .6;
        }
      }
    }

    &--image {
      background-color: $press-page-image-background;
      height: 100px;
      transition: opacity .3s ease;
      width: 100%;
    }

    &--title {
      @include font-size(2);
      color: $press-page-link-color;
    }

    &--date {
      @include font-size(1.6);
      color: $press-page-link-color;
    }
  }
}

@media only screen and (max-width: 500px) {
  .press {
    flex-direction: column;

    .press__item {
      max-width: 100%;
    }
  }
}
