.press {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px;

  &__item {
    max-width: 25%;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__link {
      text-decoration: none;

      &:hover {
        .press__item--image {
          opacity: .6;
        }
      }
    }

  &__logo {
    height: 160px;
    position: relative;
    transition: opacity .3s ease;
    width: 160px;

    img {
      display: block;
      height: auto;
      left: 50%;
      object-fit: cover;
      transform: translate(-50%, -50%);
      position: absolute;
      top: 50%;
      width: 100%;
    }
  }

  &__title {
    @include font-size(2);
    color: $press-page-link-color;
  }

  &__date {
    @include font-size(1.6);
    color: $press-page-link-color;
  }
}

@media only screen and (max-width: 500px) {
  .press__item {
    max-width: 50%;

    &:nth-child(odd) {
      margin-right: 10px
    }

    &:not(:last-child) {
      margin: 0;
    }
  }
}

@media only screen and (max-width: 500px) {
  .press__item {
    width: 100%
  }
}