.tags {
	ul.post-categories {
		list-style: none;
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		padding-left: 0;

		li {
			&:not(:last-child) {
				margin-right: 10px;
			}

			a {
				background-color: rgb(145, 30, 55);
				color: rgb(235, 210, 170);
				padding: 5px 10px;
				font-size: 14px;
				transition: background-color .3s ease;

				&:hover,
				&:focus {
					text-decoration: none;
					background-color: rgba(145, 30, 55, .6);
				}
			}
		}
	}
}