.two-block {
  background-color: $visions-branch-background-color;
  display: flex;
  flex-direction: row;
  padding: 40px;

  &__section {
    color: $vision_branch-text-color;
    width: 50%;

    &--padding-right {
      border-right: 1px solid $vision_branch-text-color;
      padding-right: 40px
    }

    &--padding-left {
      padding-left: 40px
    }
  }

  &__title {
    @include font-size(2.5);
    text-align: center;
    padding-bottom: 10px;
  }

  p {
    font-size: 12px;
  }
}

@media only screen and (max-width: 768px) {
  .two-block {
    flex-direction: column;

    &__section {
      width: 100%;

      &:not(:last-child) {
        padding: 0 0 20px 0;
      }

      &--padding-right {
        border: none;
        padding-right: none;
      }

      &--padding-left {
        padding-left: 0;
      }
    }
  }
}

@media only screen and (max-width: 414px) {
  .two-block {
    padding: 20px 10px;

    &__section {
      padding: 0 10px;
    }
  }
}
