.two-block {
  background-color: $visions-branch-background-color;
  display: flex;
  flex-direction: row;
  padding: 40px 130px;

  &__section {
    color: $vision_branch-text-color;
    text-align: center;
    width: 50%;

    &--padding-right {
      border-right: 1px solid $vision_branch-text-color;
      padding-right: 65px
    }

    &--padding-left {
      padding-left: 65px
    }
  }

  &__title {
    @include font-size(2.5);
  }

  &__text {
    @include font-size(2.5);
    }
}

@media only screen and (max-width: 768px) {
  .two-block {
    flex-direction: column;

    &__section {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 414px) {
  .two-block {
    padding: 20px 10px;

    &__section {
      padding: 0 10px;
    }
  }
}
