.owl-stage-outer {
  height: 100%;
}

.owl-carousel {
  height: calc(100vh - 140px);
  top: 140px;
  overflow: hidden;

  .owl-stage {
    height: 100%;

    .owl-item {
      height: 100%;
    }
  }
}

.slide {
  height: 100%;
  position: relative;

  &__content {
    top: 50%;
    padding: 40px;
    position: absolute;
    transform: translateY(-50%);

    .btn {
      position: relative;
    }
  }

  &__title,
  &__subtitle {
    line-height: 1.17;
    font-weight: 700;
  }

  &__title {
    background-color: rgba(0, 75, 75, .6);
    color: #fff;
    margin-bottom: 20px;
    padding: 10px 20px;
  }

  &__subtitle {
    margin-bottom: 20px
  }
}

.owl-dots {
  display: flex;
  bottom: 40px;
  position: absolute;
  right: 40px;
}

.owl-dot {
  border: 2px solid rgb(185, 190, 135);
  border-radius: 50%;
  display: block;
  height: 12px;
  width: 12px;

  &:not(:last-child) {
    margin-right: 8px;
  }

  &.active {
    border: none;
    background-color: rgb(185, 190, 135);
  }
}

@media only screen and (max-width: 768px) {
    .owl-carousel {
      height: auto; 
      top: 100px;
    }
}

@media screen and(max-width: 414px) {
  .slide {
      &__container {
        padding: 20px;
      }

      &__content {
        bottom: 30px;
      }
  }

  .owl-dots {
    bottom: 20px;
    right: 20px;
  }

  .owl-dot {
    border: 1px solid rgb(185, 190, 135);
    height: 8px;
    width: 8px;
  }
}

@media screen and(max-width: 320px) {
  .owl-dots {
    display: none;
  }
}
